Repository ressKim-io/EvoGuard: changes, and which Codecov flags are due for each by the changed paths.
All: go, python-attacker, python-defender, python-ml-service, python-training, python-mlops

docs: add next training plan (Phase 6-9)
  NEXT_TRAINING_PLAN.md
Due: none

docs: record coevolution training results (2026-01-27)
  CLAUDE.md
Due: none

feat(ml-service): add learning attacker with adaptive strategy selection
  ml-service/scripts/run_continuous_coevolution.py
  ml-service/src/ml_service/attacker/__init__.py
  ml-service/src/ml_service/attacker/adaptive_selector.py
  ml-service/src/ml_service/attacker/auto_generator.py
  ml-service/src/ml_service/attacker/failure_analyzer.py
  ml-service/src/ml_service/attacker/learning_attacker.py
Due: python-ml-service

feat(attacker): add Phase 7 attack strategies
  NEXT_TRAINING_PLAN.md
  attacker/prompts/paraphrase.txt
  ml-service/src/ml_service/attacker/korean_strategies.py
Due: python-attacker, python-ml-service

feat(ml-service): add balanced coevolution system
  ml-service/scripts/run_balanced_coevolution.py
  ml-service/src/ml_service/attacker/__init__.py
  ml-service/src/ml_service/attacker/attacker_evolver.py
  ml-service/src/ml_service/attacker/learning_attacker.py
  ml-service/src/ml_service/pipeline/__init__.py
  ml-service/src/ml_service/pipeline/hard_negative_miner.py
Due: python-ml-service

docs: update documentation for balanced coevolution system
  .claude/docs/14-TRAINING_GUIDE.md
  CLAUDE.md
Due: none

feat(ml-service): add diversity-preserving coevolution script
  ml-service/scripts/run_diversity_coevolution.py
Due: python-ml-service

feat(ml-service): add PMF (Parallel Model Fusion) ensemble system
  CLAUDE.md
  ml-service/pyproject.toml
  ml-service/scripts/train_meta_learner.py
  ml-service/scripts/train_multi_model.py
  ml-service/src/ml_service/inference/ensemble_classifier.py
  ml-service/src/ml_service/inference/pmf_ensemble.py
Due: python-ml-service

refactor(attacker): modularize attack strategies and evolver logic
  ml-service/src/ml_service/attacker/__init__.py
  ml-service/src/ml_service/attacker/attacker_evolver.py
  ml-service/src/ml_service/attacker/attacks/__init__.py
  ml-service/src/ml_service/attacker/attacks/advanced.py
  ml-service/src/ml_service/attacker/attacks/basic.py
  ml-service/src/ml_service/attacker/attacks/community.py
  ml-service/src/ml_service/attacker/attacks/kotox.py
  ml-service/src/ml_service/attacker/auto_generator.py
  ml-service/src/ml_service/attacker/evolver/__init__.py
  ml-service/src/ml_service/attacker/evolver/config.py
  ml-service/src/ml_service/attacker/evolver/slang_evolver.py
  ml-service/src/ml_service/attacker/evolver/strategy_mutator.py
  ml-service/src/ml_service/attacker/failure_analyzer.py
  ml-service/src/ml_service/attacker/hangul_utils.py
  ml-service/src/ml_service/attacker/korean_strategies.py
Due: python-ml-service

feat(ml-service): add training standardization system
  ml-service/TRAINING_STANDARDS.md
  ml-service/scripts/create_standard_dataset.py
  ml-service/scripts/evaluate_all_models.py
  ml-service/src/ml_service/training/standard_config.py
Due: python-ml-service

feat(ml-service): improve training scripts and add automation helpers
  ml-service/scripts/check_training.sh
  ml-service/scripts/run_full_training.sh
  ml-service/scripts/train_meta_learner.py
  ml-service/scripts/train_multi_model.py
  ml-service/scripts/wait_training.sh
Due: python-ml-service

docs: update CLAUDE.md with evaluation results and standards
  CLAUDE.md
Due: none

docs: update with coevolution training results (F1: 0.9621)
  CLAUDE.md
Due: none

feat(ml-service): add coevolution training report and production classifier
  ml-service/docs/COEVOLUTION_TRAINING_REPORT_20260204.md
  ml-service/src/ml_service/inference/production_classifier.py
Due: python-ml-service

docs: finalize ML project documentation and mark as complete
  CLAUDE.md
  ml-service/README.md
  ml-service/docs/PROJECT_FINAL_STATUS.md
Due: python-ml-service

chore: update .gitignore to exclude raw datasets and kubeconfig
  .gitignore
Due: none

feat: add Claude Code agents and slash commands for ML workflow
  .claude/agents/ml-experimenter.md
  .claude/agents/ml-monitor.md
  .claude/agents/ml-reviewer.md
  .claude/commands/analyze-errors.md
  .claude/commands/compare-models.md
  .claude/commands/evaluate.md
  .claude/commands/mlflow-query.md
  .claude/commands/pre-check.md
  .claude/commands/train.md
Due: none

feat(ml-service): add new training and data quality scripts
  ml-service/scripts/active_learning.py
  ml-service/scripts/create_standard_dataset_v3.py
  ml-service/scripts/find_label_errors.py
  ml-service/scripts/generate_llm_hard_negatives.py
  ml-service/scripts/run_12h_pipeline.py
  ml-service/scripts/train_deberta.py
  ml-service/scripts/train_exaone.py
  ml-service/scripts/train_with_lahn.py
  ml-service/scripts/verify_test_labels.py
Due: python-ml-service

feat(ml-service): add new ML modules and loss functions
  ml-service/pyproject.toml
  ml-service/src/ml_service/attacker/llm_attacker.py
  ml-service/src/ml_service/inference/obfuscation_postprocessor.py
  ml-service/src/ml_service/training/contrastive_loss.py
  ml-service/src/ml_service/training/lahn_loss.py
  ml-service/src/ml_service/training/losses.py
  ml-service/src/ml_service/training/r3f_loss.py
  ml-service/src/ml_service/training/standard_config.py
Due: python-ml-service

fix(ml-service): improve coevolution, PMF ensemble, and training scripts
  ml-service/data/korean/label_error_report.txt
  ml-service/scripts/run_balanced_coevolution.py
  ml-service/scripts/train_meta_learner.py
  ml-service/scripts/train_multi_model.py
  ml-service/src/ml_service/attacker/attacker_evolver.py
  ml-service/src/ml_service/inference/pmf_ensemble.py
Due: python-ml-service

feat(ml-service): add inference optimization modules (calibration, TTA)
  ml-service/src/ml_service/inference/calibration.py
  ml-service/src/ml_service/inference/tta.py
Due: python-ml-service

feat(ml-service): add DARE-TIES model merge script
  ml-service/scripts/dare_ties_merge.py
Due: python-ml-service

feat(ml-service): update EXAONE to 4.0-1.2B and add phase2 runner
  ml-service/scripts/run_phase2_sequential.sh
  ml-service/scripts/train_exaone.py
Due: python-ml-service

wip: train_exaone updates (pre-reinstall checkpoint)
  ml-service/scripts/train_exaone.py
Due: python-ml-service

Path conditions:
  go: any of: api-service/, but not: **/*_test.go, **/tests/**, **/conftest.py, **/__pycache__/**, **/migrations/**, scripts/**, infra/**, *.md, *.yml, *.yaml, *.toml, Makefile
  python-attacker: any of: attacker/, but not: **/*_test.go, **/tests/**, **/conftest.py, **/__pycache__/**, **/migrations/**, scripts/**, infra/**, *.md, *.yml, *.yaml, *.toml, Makefile
  python-defender: any of: defender/, but not: **/*_test.go, **/tests/**, **/conftest.py, **/__pycache__/**, **/migrations/**, scripts/**, infra/**, *.md, *.yml, *.yaml, *.toml, Makefile
  python-ml-service: any of: ml-service/, but not: **/*_test.go, **/tests/**, **/conftest.py, **/__pycache__/**, **/migrations/**, scripts/**, infra/**, *.md, *.yml, *.yaml, *.toml, Makefile
  python-training: any of: training/, but not: **/*_test.go, **/tests/**, **/conftest.py, **/__pycache__/**, **/migrations/**, scripts/**, infra/**, *.md, *.yml, *.yaml, *.toml, Makefile
  python-mlops: any of: mlops/, but not: **/*_test.go, **/tests/**, **/conftest.py, **/__pycache__/**, **/migrations/**, scripts/**, infra/**, *.md, *.yml, *.yaml, *.toml, Makefile
