Repository ressKim-io/EvoGuard: changes, and which Codecov flags are due for each by the changed paths.
All: go, python-attacker, python-defender, python-ml-service, python-training, python-mlops

codecov.yml:

# =============================================================================
# Codecov Configuration
# =============================================================================
# Documentation: https://docs.codecov.io/docs/codecov-yaml

coverage:
  # 프로젝트 전체 커버리지 설정
  status:
    project:
      default:
        target: 60%              # 프로젝트 커버리지 목표
        threshold: 1%            # 허용 오차
        if_ci_failed: error      # CI 실패 시 에러

    # PR에서 변경된 코드의 커버리지
    patch:
      default:
        target: 70%              # 새로 추가된 코드 커버리지 목표
        threshold: 1%

  # 커버리지 정밀도 설정
  precision: 2
  round: down
  range: "40...100"

# =============================================================================
# Flags (서비스별 커버리지 추적)
# =============================================================================
flags:
  # Go 서비스
  go:
    paths:
      - api-service/
    carryforward: true

  # Python 서비스들
  python-attacker:
    paths:
      - attacker/
    carryforward: true

  python-defender:
    paths:
      - defender/
    carryforward: true

  python-ml-service:
    paths:
      - ml-service/
    carryforward: true

  python-training:
    paths:
      - training/
    carryforward: true

  python-mlops:
    paths:
      - mlops/
    carryforward: true

# =============================================================================
# 무시할 파일/경로
# =============================================================================
ignore:
  - "**/*_test.go"           # Go 테스트 파일
  - "**/tests/**"            # Python 테스트 폴더
  - "**/conftest.py"         # pytest fixtures
  - "**/__pycache__/**"
  - "**/migrations/**"
  - "scripts/**"
  - "infra/**"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "Makefile"

# =============================================================================
# PR 코멘트 설정
# =============================================================================
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# =============================================================================
# GitHub 체크 설정
# =============================================================================
github_checks:
  annotations: true

docs(testing): add testing strategy and coverage configuration (#3)
  .claude/docs/00-PROJECT_CHECKLIST.md
  .claude/docs/10-TESTING.md
  .github/workflows/pr-test.yml
  codecov.yml
Due: none

feat(api-service): implement basic Go API structure with Battle CRUD
  api-service/cmd/api/main.go
  api-service/go.mod
  api-service/go.sum
  api-service/internal/adapter/http/handler/battle_handler.go
  api-service/internal/adapter/http/handler/battle_handler_test.go
  api-service/internal/adapter/http/handler/health_handler.go
  api-service/internal/adapter/http/handler/response.go
  api-service/internal/adapter/http/middleware/middleware.go
  api-service/internal/adapter/http/router/router.go
  api-service/internal/adapter/repository/postgres/battle_repository.go
  api-service/internal/domain/entity/battle.go
  api-service/internal/domain/entity/battle_test.go
  api-service/internal/domain/entity/round.go
  api-service/internal/domain/entity/round_test.go
  api-service/internal/domain/repository/battle_repository.go
  api-service/internal/infrastructure/cache/redis.go
  api-service/internal/infrastructure/config/config.go
  api-service/internal/infrastructure/database/postgres.go
  api-service/internal/infrastructure/logger/logger.go
  api-service/internal/usecase/battle_usecase.go
Due: go

test(api-service): add comprehensive unit tests and fix CI configuration
  .github/workflows/pr-test.yml
  api-service/.golangci.yml
  api-service/internal/adapter/http/handler/health_handler_test.go
  api-service/internal/adapter/http/handler/response_test.go
  api-service/internal/adapter/http/middleware/middleware_test.go
  api-service/internal/infrastructure/config/config_test.go
  api-service/internal/infrastructure/logger/logger_test.go
  api-service/internal/usecase/battle_usecase_test.go
Due: go

fix(api-service): correct httpNoBody syntax in test files
  .gitignore
  api-service/cmd/api/main.go
  api-service/internal/adapter/http/handler/battle_handler.go
  api-service/internal/adapter/http/handler/battle_handler_test.go
  api-service/internal/adapter/http/handler/health_handler_test.go
  api-service/internal/adapter/http/handler/response_test.go
  api-service/internal/adapter/http/middleware/middleware_test.go
Due: go

fix(api-service): resolve golangci-lint issues
  api-service/cmd/api/main.go
  api-service/internal/adapter/http/middleware/middleware.go
  api-service/internal/adapter/http/middleware/middleware_test.go
  api-service/internal/adapter/http/router/router.go
  api-service/internal/domain/entity/battle.go
  api-service/internal/usecase/battle_usecase.go
Due: go

fix(api-service): add explanation for nolint directive
  api-service/cmd/api/main.go
Due: go

feat(api-service): implement basic Go API structure with Battle CRUD (#4)
  .github/workflows/pr-test.yml
  .gitignore
  api-service/.golangci.yml
  api-service/cmd/api/main.go
  api-service/go.mod
  api-service/go.sum
  api-service/internal/adapter/http/handler/battle_handler.go
  api-service/internal/adapter/http/handler/battle_handler_test.go
  api-service/internal/adapter/http/handler/health_handler.go
  api-service/internal/adapter/http/handler/health_handler_test.go
  api-service/internal/adapter/http/handler/response.go
  api-service/internal/adapter/http/handler/response_test.go
  api-service/internal/adapter/http/middleware/middleware.go
  api-service/internal/adapter/http/middleware/middleware_test.go
  api-service/internal/adapter/http/router/router.go
  api-service/internal/adapter/repository/postgres/battle_repository.go
  api-service/internal/domain/entity/battle.go
  api-service/internal/domain/entity/battle_test.go
  api-service/internal/domain/entity/round.go
  api-service/internal/domain/entity/round_test.go
  api-service/internal/domain/repository/battle_repository.go
  api-service/internal/infrastructure/cache/redis.go
  api-service/internal/infrastructure/config/config.go
  api-service/internal/infrastructure/config/config_test.go
  api-service/internal/infrastructure/database/postgres.go
  api-service/internal/infrastructure/logger/logger.go
  api-service/internal/infrastructure/logger/logger_test.go
  api-service/internal/usecase/battle_usecase.go
  api-service/internal/usecase/battle_usecase_test.go
Due: go

docs: mark Go test structure as complete in checklist
  .claude/docs/00-PROJECT_CHECKLIST.md
Due: none

feat(api-service): add Dockerfile for container build
  api-service/Dockerfile
Due: go

feat(ml-service): implement FastAPI inference service
  ml-service/Dockerfile
  ml-service/pyproject.toml
  ml-service/src/ml_service/__init__.py
  ml-service/src/ml_service/api/__init__.py
  ml-service/src/ml_service/api/routes.py
  ml-service/src/ml_service/api/schemas.py
  ml-service/src/ml_service/core/__init__.py
  ml-service/src/ml_service/core/config.py
  ml-service/src/ml_service/core/logging.py
  ml-service/src/ml_service/main.py
  ml-service/src/ml_service/models/__init__.py
  ml-service/src/ml_service/models/classifier.py
  ml-service/src/ml_service/services/__init__.py
  ml-service/src/ml_service/services/inference.py
  ml-service/tests/__init__.py
  ml-service/tests/conftest.py
  ml-service/tests/test_api.py
  ml-service/tests/test_classifier.py
  ml-service/tests/test_inference.py
  ml-service/uv.lock
Due: python-ml-service

feat(ml-service): implement FastAPI inference service (#5)
  ml-service/Dockerfile
  ml-service/pyproject.toml
  ml-service/src/ml_service/__init__.py
  ml-service/src/ml_service/api/__init__.py
  ml-service/src/ml_service/api/routes.py
  ml-service/src/ml_service/api/schemas.py
  ml-service/src/ml_service/core/__init__.py
  ml-service/src/ml_service/core/config.py
  ml-service/src/ml_service/core/logging.py
  ml-service/src/ml_service/main.py
  ml-service/src/ml_service/models/__init__.py
  ml-service/src/ml_service/models/classifier.py
  ml-service/src/ml_service/services/__init__.py
  ml-service/src/ml_service/services/inference.py
  ml-service/tests/__init__.py
  ml-service/tests/conftest.py
  ml-service/tests/test_api.py
  ml-service/tests/test_classifier.py
  ml-service/tests/test_inference.py
  ml-service/uv.lock
Due: python-ml-service

feat(api-service): add ML service client for classification
  api-service/cmd/api/main.go
  api-service/internal/adapter/client/ml_client.go
  api-service/internal/adapter/client/ml_client_test.go
  api-service/internal/adapter/http/handler/health_handler.go
  api-service/internal/adapter/http/handler/health_handler_test.go
  api-service/internal/adapter/http/router/router.go
  api-service/internal/infrastructure/config/config.go
Due: go

feat(api-service): integrate ML classification into Battle flow
  api-service/internal/adapter/client/ml_classifier.go
  api-service/internal/adapter/client/ml_classifier_test.go
  api-service/internal/adapter/http/handler/battle_handler.go
  api-service/internal/adapter/http/handler/battle_handler_test.go
  api-service/internal/adapter/http/router/router.go
  api-service/internal/domain/service/classifier.go
  api-service/internal/usecase/battle_usecase.go
  api-service/internal/usecase/battle_usecase_test.go
Due: go

feat(infra): add api-service and ml-service to docker-compose
  infra/docker-compose.yml
Due: none

fix(api-service): address golangci-lint issues
  api-service/internal/adapter/client/ml_classifier_test.go
  api-service/internal/adapter/client/ml_client.go
  api-service/internal/adapter/http/handler/health_handler.go
Due: go

feat: integrate api-service and ml-service for classification (#6)
  api-service/cmd/api/main.go
  api-service/internal/adapter/client/ml_classifier.go
  api-service/internal/adapter/client/ml_classifier_test.go
  api-service/internal/adapter/client/ml_client.go
  api-service/internal/adapter/client/ml_client_test.go
  api-service/internal/adapter/http/handler/battle_handler.go
  api-service/internal/adapter/http/handler/battle_handler_test.go
  api-service/internal/adapter/http/handler/health_handler.go
  api-service/internal/adapter/http/handler/health_handler_test.go
  api-service/internal/adapter/http/router/router.go
  api-service/internal/domain/service/classifier.go
  api-service/internal/infrastructure/config/config.go
  api-service/internal/usecase/battle_usecase.go
  api-service/internal/usecase/battle_usecase_test.go
  infra/docker-compose.yml
Due: go

feat(ml-service): implement Feature Store MVP
  .claude/docs/00-PROJECT_CHECKLIST.md
  .claude/docs/07-DEVELOPMENT_ROADMAP.md
  .claude/docs/11-FEATURE_STORE.md
  .claude/docs/12-MODEL_MONITORING.md
  ml-service/pyproject.toml
  ml-service/src/ml_service/core/config.py
  ml-service/src/ml_service/feature_store/__init__.py
  ml-service/src/ml_service/feature_store/api/__init__.py
  ml-service/src/ml_service/feature_store/api/routes.py
  ml-service/src/ml_service/feature_store/compute/__init__.py
  ml-service/src/ml_service/feature_store/compute/base.py
  ml-service/src/ml_service/feature_store/compute/text_features.py
  ml-service/src/ml_service/feature_store/registry/__init__.py
  ml-service/src/ml_service/feature_store/registry/database.py
  ml-service/src/ml_service/feature_store/registry/models.py
  ml-service/src/ml_service/feature_store/registry/repository.py
  ml-service/src/ml_service/feature_store/registry/schemas.py
  ml-service/src/ml_service/main.py
  ml-service/tests/feature_store/__init__.py
  ml-service/tests/feature_store/test_text_features.py
  ml-service/uv.lock
Due: python-ml-service

feat(ml-service): implement Feature Store MVP (#7)
  .claude/docs/00-PROJECT_CHECKLIST.md
  .claude/docs/07-DEVELOPMENT_ROADMAP.md
  .claude/docs/11-FEATURE_STORE.md
  .claude/docs/12-MODEL_MONITORING.md
  ml-service/pyproject.toml
  ml-service/src/ml_service/core/config.py
  ml-service/src/ml_service/feature_store/__init__.py
  ml-service/src/ml_service/feature_store/api/__init__.py
  ml-service/src/ml_service/feature_store/api/routes.py
  ml-service/src/ml_service/feature_store/compute/__init__.py
  ml-service/src/ml_service/feature_store/compute/base.py
  ml-service/src/ml_service/feature_store/compute/text_features.py
  ml-service/src/ml_service/feature_store/registry/__init__.py
  ml-service/src/ml_service/feature_store/registry/database.py
  ml-service/src/ml_service/feature_store/registry/models.py
  ml-service/src/ml_service/feature_store/registry/repository.py
  ml-service/src/ml_service/feature_store/registry/schemas.py
  ml-service/src/ml_service/main.py
  ml-service/tests/feature_store/__init__.py
  ml-service/tests/feature_store/test_text_features.py
  ml-service/uv.lock
Due: python-ml-service

docs: add Claude Code token saving guide
  .claude/docs/13-TOKEN_SAVING_GUIDE.md
Due: none

docs: add CLAUDE.md with project context and doc references
  CLAUDE.md
Due: none

feat(ml-service): implement Offline and Online Feature Store
  ml-service/pyproject.toml
  ml-service/src/ml_service/feature_store/__init__.py
  ml-service/src/ml_service/feature_store/offline/__init__.py
  ml-service/src/ml_service/feature_store/offline/reader.py
  ml-service/src/ml_service/feature_store/offline/writer.py
  ml-service/src/ml_service/feature_store/online/__init__.py
  ml-service/src/ml_service/feature_store/online/redis_store.py
  ml-service/tests/feature_store/test_offline_store.py
  ml-service/tests/feature_store/test_online_store.py
  ml-service/uv.lock
Due: python-ml-service

feat(ml-service): implement Offline and Online Feature Store (#8)
  ml-service/pyproject.toml
  ml-service/src/ml_service/feature_store/__init__.py
  ml-service/src/ml_service/feature_store/offline/__init__.py
  ml-service/src/ml_service/feature_store/offline/reader.py
  ml-service/src/ml_service/feature_store/offline/writer.py
  ml-service/src/ml_service/feature_store/online/__init__.py
  ml-service/src/ml_service/feature_store/online/redis_store.py
  ml-service/tests/feature_store/test_offline_store.py
  ml-service/tests/feature_store/test_online_store.py
  ml-service/uv.lock
Due: python-ml-service

feat(ml-service): complete Feature Store implementation
  .claude/docs/11-FEATURE_STORE.md
  ml-service/src/ml_service/feature_store/__init__.py
  ml-service/src/ml_service/feature_store/compute/__init__.py
  ml-service/src/ml_service/feature_store/compute/battle_features.py
  ml-service/src/ml_service/feature_store/mlflow_integration/__init__.py
  ml-service/src/ml_service/feature_store/mlflow_integration/lineage.py
  ml-service/src/ml_service/feature_store/mlflow_integration/logger.py
  ml-service/src/ml_service/feature_store/online/__init__.py
  ml-service/src/ml_service/feature_store/online/sync.py
  ml-service/tests/feature_store/test_battle_features.py
  ml-service/tests/feature_store/test_mlflow_integration.py
Due: python-ml-service

feat(ml-service): complete Feature Store implementation (#9)
  .claude/docs/11-FEATURE_STORE.md
  ml-service/src/ml_service/feature_store/__init__.py
  ml-service/src/ml_service/feature_store/compute/__init__.py
  ml-service/src/ml_service/feature_store/compute/battle_features.py
  ml-service/src/ml_service/feature_store/mlflow_integration/__init__.py
  ml-service/src/ml_service/feature_store/mlflow_integration/lineage.py
  ml-service/src/ml_service/feature_store/mlflow_integration/logger.py
  ml-service/src/ml_service/feature_store/online/__init__.py
  ml-service/src/ml_service/feature_store/online/sync.py
  ml-service/tests/feature_store/test_battle_features.py
  ml-service/tests/feature_store/test_mlflow_integration.py
Due: python-ml-service

feat(ml-service): implement model monitoring MVP (Phase 1)
  .claude/docs/12-MODEL_MONITORING.md
  ml-service/src/ml_service/monitoring/__init__.py
  ml-service/src/ml_service/monitoring/actions/__init__.py
  ml-service/src/ml_service/monitoring/alerts/__init__.py
  ml-service/src/ml_service/monitoring/api/__init__.py
  ml-service/src/ml_service/monitoring/drift/__init__.py
  ml-service/src/ml_service/monitoring/metrics/__init__.py
  ml-service/src/ml_service/monitoring/metrics/collector.py
  ml-service/src/ml_service/monitoring/prediction/__init__.py
  ml-service/src/ml_service/monitoring/prediction/confidence.py
  ml-service/src/ml_service/monitoring/prediction/logger.py
  ml-service/tests/monitoring/__init__.py
  ml-service/tests/monitoring/test_confidence.py
  ml-service/tests/monitoring/test_metrics_collector.py
  ml-service/tests/monitoring/test_prediction_logger.py
Due: python-ml-service

feat(ml-service): implement model monitoring MVP (Phase 1) (#10)
  .claude/docs/12-MODEL_MONITORING.md
  ml-service/src/ml_service/monitoring/__init__.py
  ml-service/src/ml_service/monitoring/actions/__init__.py
  ml-service/src/ml_service/monitoring/alerts/__init__.py
  ml-service/src/ml_service/monitoring/api/__init__.py
  ml-service/src/ml_service/monitoring/drift/__init__.py
  ml-service/src/ml_service/monitoring/metrics/__init__.py
  ml-service/src/ml_service/monitoring/metrics/collector.py
  ml-service/src/ml_service/monitoring/prediction/__init__.py
  ml-service/src/ml_service/monitoring/prediction/confidence.py
  ml-service/src/ml_service/monitoring/prediction/logger.py
  ml-service/tests/monitoring/__init__.py
  ml-service/tests/monitoring/test_confidence.py
  ml-service/tests/monitoring/test_metrics_collector.py
  ml-service/tests/monitoring/test_prediction_logger.py
Due: python-ml-service

refactor: clean architecture alignment and code quality improvements
  .github/workflows/pr-test.yml
  api-service/internal/adapter/http/handler/battle_handler.go
  api-service/internal/adapter/http/handler/errors.go
  api-service/internal/adapter/http/handler/errors_test.go
  api-service/internal/adapter/http/handler/helpers.go
  api-service/internal/adapter/http/handler/helpers_test.go
  ml-service/src/ml_service/core/__init__.py
  ml-service/src/ml_service/core/config.py
  ml-service/src/ml_service/core/exceptions.py
  ml-service/src/ml_service/core/protocols.py
  ml-service/src/ml_service/feature_store/online/redis_store.py
  ml-service/src/ml_service/monitoring/prediction/logger.py
  ml-service/src/ml_service/services/inference.py
  ml-service/tests/conftest.py
  ml-service/tests/feature_store/test_online_store.py
  ml-service/tests/test_exceptions.py
  ml-service/tests/test_inference.py
  pyproject.toml
Due: go, python-ml-service

feat(ml-service): model monitoring MVP and clean architecture refactoring (#11)
  .github/workflows/pr-test.yml
  api-service/internal/adapter/http/handler/battle_handler.go
  api-service/internal/adapter/http/handler/errors.go
  api-service/internal/adapter/http/handler/errors_test.go
  api-service/internal/adapter/http/handler/helpers.go
  api-service/internal/adapter/http/handler/helpers_test.go
  ml-service/src/ml_service/core/__init__.py
  ml-service/src/ml_service/core/config.py
  ml-service/src/ml_service/core/exceptions.py
  ml-service/src/ml_service/core/protocols.py
  ml-service/src/ml_service/feature_store/online/redis_store.py
  ml-service/src/ml_service/monitoring/prediction/logger.py
  ml-service/src/ml_service/services/inference.py
  ml-service/tests/conftest.py
  ml-service/tests/feature_store/test_online_store.py
  ml-service/tests/test_exceptions.py
  ml-service/tests/test_inference.py
  pyproject.toml
Due: go, python-ml-service

feat(ml-service): implement drift detection for model monitoring (Phase 2)
  .claude/docs/12-MODEL_MONITORING.md
  ml-service/src/ml_service/monitoring/drift/__init__.py
  ml-service/src/ml_service/monitoring/drift/concept_drift.py
  ml-service/src/ml_service/monitoring/drift/data_drift.py
  ml-service/src/ml_service/monitoring/drift/feature_drift.py
  ml-service/tests/monitoring/test_concept_drift.py
  ml-service/tests/monitoring/test_data_drift.py
  ml-service/tests/monitoring/test_feature_drift.py
Due: python-ml-service

feat(ml-service): implement alert system for model monitoring (Phase 3)
  .claude/docs/12-MODEL_MONITORING.md
  infra/alertmanager/alertmanager.yml
  infra/alertmanager/templates/slack.tmpl
  infra/docker-compose.yml
  infra/grafana/provisioning/alerting/alerting.yml
  infra/prometheus/prometheus.yml
  infra/prometheus/rules/ml_alerts.yml
  ml-service/pyproject.toml
  ml-service/src/ml_service/monitoring/__init__.py
  ml-service/src/ml_service/monitoring/alerts/__init__.py
  ml-service/src/ml_service/monitoring/alerts/handlers.py
  ml-service/src/ml_service/monitoring/alerts/rules.py
  ml-service/tests/monitoring/test_alert_handlers.py
  ml-service/tests/monitoring/test_alert_rules.py
  ml-service/uv.lock
Due: python-ml-service

feat(ml-service): implement automated actions for model monitoring (Phase 4)
  .claude/docs/12-MODEL_MONITORING.md
  .gitignore
  infra/grafana/provisioning/dashboards/json/ml-monitoring.json
  ml-service/src/ml_service/monitoring/actions/__init__.py
  ml-service/src/ml_service/monitoring/actions/retrain_trigger.py
  ml-service/src/ml_service/monitoring/actions/rollback.py
  ml-service/tests/monitoring/test_retrain_trigger.py
  ml-service/tests/monitoring/test_rollback.py
Due: python-ml-service

feat(ml-service): implement A/B testing and report generation (Phase 5)
  .claude/docs/12-MODEL_MONITORING.md
  ml-service/src/ml_service/monitoring/__init__.py
  ml-service/src/ml_service/monitoring/experimental/__init__.py
  ml-service/src/ml_service/monitoring/experimental/ab_testing.py
  ml-service/src/ml_service/monitoring/reports/__init__.py
  ml-service/src/ml_service/monitoring/reports/generator.py
  ml-service/tests/monitoring/test_ab_testing.py
  ml-service/tests/monitoring/test_concept_drift.py
  ml-service/tests/monitoring/test_data_drift.py
  ml-service/tests/monitoring/test_reports.py
  ml-service/tests/monitoring/test_retrain_trigger.py
  ml-service/tests/monitoring/test_rollback.py
Due: python-ml-service

refactor(ml-service): improve exception handling and externalize configuration
  ml-service/src/ml_service/core/__init__.py
  ml-service/src/ml_service/core/exceptions.py
  ml-service/src/ml_service/feature_store/online/redis_store.py
  ml-service/src/ml_service/feature_store/online/sync.py
  ml-service/src/ml_service/feature_store/registry/database.py
  ml-service/tests/feature_store/test_online_store.py
Due: python-ml-service

chore: remove duplicate claude.md file
  claude.md
Due: none

docs: update checklist and roadmap with completed items
  .claude/docs/00-PROJECT_CHECKLIST.md
  .claude/docs/07-DEVELOPMENT_ROADMAP.md
Due: none

feat(ml-service): implement QLoRA fine-tuning pipeline
  ml-service/pyproject.toml
  ml-service/scripts/train.py
  ml-service/src/ml_service/models/__init__.py
  ml-service/src/ml_service/models/bert_classifier.py
  ml-service/src/ml_service/training/__init__.py
  ml-service/src/ml_service/training/config.py
  ml-service/src/ml_service/training/data.py
  ml-service/src/ml_service/training/mlflow_utils.py
  ml-service/src/ml_service/training/trainer.py
  ml-service/tests/training/__init__.py
  ml-service/tests/training/test_config.py
  ml-service/uv.lock
Due: python-ml-service

docs: complete README and add architecture documentation
  README.md
  docs/ARCHITECTURE.md
Due: none

feat(ml-service): add HuggingFace dataset integration for training
  ml-service/scripts/train.py
  ml-service/src/ml_service/training/__init__.py
  ml-service/src/ml_service/training/datasets.py
Due: python-ml-service

fix(ml-service): add MLflowTracker import in trainer.py
  ml-service/src/ml_service/training/trainer.py
Due: python-ml-service

docs: update roadmap with QLoRA training completion
  .claude/docs/07-DEVELOPMENT_ROADMAP.md
Due: none
